:root{
    --darkTransparentColor: rgba(10, 10, 10, 0.3);

    --shortTransitionTime: 0.3s;
    --middleTransitionTime: 0.5s;
    --longTransitionTime: 1s;

    --thinDarkBorder: 1px solid black;
    --thickDarkBorder: 2px solid black;

    --tinyMargin: 0.1rem;
    --middleMargin: 0.3rem;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    border-bottom: var(--thinDarkBorder);
    display: flex;
    justify-content: space-around;
}

header > *{
    margin: 0.5rem;
}

header > .search{
    flex-grow: 1;
    border-radius: 5rem;
}

.notificationsWindow, .messagesWindow{
    min-width: 300px;
    min-height: 480px;
    border: var(--thickDarkBorder);
    transition: var(--shortTransitionTime);
    position: absolute;
    right: 1rem;
    display: none;
}

.notificationsWindow.visible, .messagesWindow.visible{
    opacity: 1;
}

.notificationsWindow.hidden, .messagesWindow.hidden{
    opacity: 0;
}



/*---Pins---*/
.pins{
    width: 100vw;
    background-color: red;
    display: flex;
}

.pinOpener{
    width: 15%;
    margin: var(--tinyMargin);
    border: var(--thickDarkBorder);
    flex-grow: 1/5;
}

.pin{

}

.pinImageAndInfo{
    display: flex;
}

.pinImage{
    width: 20vw;
}



/*---Editor---*/
.pinEditor{
    width: 100%;
    background-color: blue;
}

.pinEditorInputs{
    display: flex;
    justify-content: space-around;
}

.pinEditorTextFields{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pinEditorTextFields > *{
    margin: var(--middleMargin);
}

.imageSelect{
    border: var(--thickDarkBorder);
}

.imageSelect img{
    width: 20vw;
}


/*---Profile---*/

.profileTopImageContainer{
    height: 5rem;
    overflow: hidden;
    position: relative;
}

.profileTopImage{
    width: 100%;
}

.profileTopImageContainer .fileEditButton{
    margin: var(--middleMargin);
    position: absolute;
    top: 0;
    right: 0;
}


/*---Authorization---*/
.authorizationFormWrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--darkTransparentColor);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorizationForm{
    border: var(--thinDarkBorder);
    position: relative;
}

.authorizationForm .closeButton{
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

.authorizationForm form{
    border-top: var(--thickDarkBorder);
    display: flex;
    flex-direction: column;

}

.authorizationForm form > *{
    margin: var(--middleMargin);
}

.authorizationForm form > button{
    align-self: end;
}

.loginForm.hidden, .signUpForm.hidden{
    display: none;
}