:root{
    --darkTransparentColor: rgba(10, 10, 10, 0.3);
    --darkHalfTransparentColor: rgba(10, 10, 10, 0.5);

    --darkColor: #111111;
    --lightColor: #EEEEEE;
    --highlightColor1: #E60023;

    --veryShortTransitionTime: 0.1s;
    --shortTransitionTime: 0.3s;
    --middleTransitionTime: 0.5s;
    --longTransitionTime: 1s;

    --thinDarkBorder: 1px solid black;
    --thickDarkBorder: 2px solid black;
    --thinLightBorder: 1px solid white;
    --thickLightBorder: 2px solid white;

    --tinyMargin: 0.1rem;
    --middleMargin: 0.3rem;

    --standardFont: monospace, sans-serif, serif;
}

*{
    box-sizing: border-box;
    font-family: var(--standardFont);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--darkColor);
}

button{
    transition: var(--veryShortTransitionTime);
}

button:hover{
    color: var(--lightColor);
    background-color: var(--highlightColor1);
}

.fileEditButton{
    padding: 0.1rem;
    aspect-ratio: 1/1;
    color: var(--darkColor);
    background-color: var(--lightColor);
    border-radius: 0.3rem;
    transition: var(--veryShortTransitionTime);
    display: flex;
    justify-content: center;
    align-items: center;
}


.fileEditButton:hover{
    color: var(--lightColor);
    background-color: var(--highlightColor1);
    border-left: var(--thickDarkBorder);
    border-top: var(--thickDarkBorder);
}

.logoutButton{
    
}

.closeButton{
    color: var(--lightColor);
    background-color: orangered;
}

.closeButton:hover{
    color: var(--darkColor);
    background-color: var(--lightColor);
}

/*---Header---*/

header{
    border-bottom: var(--thinDarkBorder);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > *{
    margin: 0.5rem;
}

header  .openPinCreator{
    width: 5rem;
    height: 3rem;
    color: var(--lightColor);
    border-radius: 1rem;
    background-color: var(--highlightColor1);
    font-weight: 700;
}

header > .search{
    flex-grow: 1;
}

header > .search, #mainPage > .search{
    min-width: 200px;
    height: 2rem;
    border-radius: 5rem;
}


.openNotifications, .openMessages{
    width: 2rem;
    height: 2rem;
}

.openNotifications:hover, .openMessages:hover{
    color: var(--lightColor);
    background-color: var(--highlightColor1);
}

.openSignUpForm, .openLoginForm{
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
}

.openLoginForm{
    color: var(--lightColor);
    background-color: var(--highlightColor1);
    font-weight: 700;
}  

.openLoginForm:hover, .openPinCreator:hover{
    color: var(--darkColor);
    background-color: var(--lightColor);
}

.openSignUpForm{
    color: var(--darkColor);
    background-color: var(--lightColor);
}  


.openSignUpForm:hover{
    color: var(--lightColor);
    background-color: var(--darkColor);
}

.notificationsWindow, .messagesWindow{
    min-width: 300px;
    min-height: 480px;
    color: var(--lightColor);
    background-color: var(--darkColor);
    border: var(--thickDarkBorder);
    transition: var(--shortTransitionTime);
    position: absolute;
    top: 4rem;
    right: 1rem;
    display: none;
}

.notificationsWindow.visible, .messagesWindow.visible{
    opacity: 1;
}

.notificationsWindow.hidden, .messagesWindow.hidden{
    opacity: 0;
}



/*---Main page---*/
#mainPage > .search{
    margin: 1rem 0 1rem 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}



/*---Welcome page---*/
.welcomePage{
    height: 100vh;
    background-image: url("../files/images/japan_minimalist.jpg");
    background-size: cover;
}

.welcomePageCover{
    width: 100%;
    height: 100%;
    background-color: var(--darkHalfTransparentColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcomePageTitle{
    margin-bottom: 2rem;
    color: var(--lightColor);
}

.welcomePageCover .openAuthorization{
    display: flex;
    flex-direction: column;
}

.welcomePageCover .openAuthorization button {
    width: 10rem;
    height: 4rem;
    margin: 0.4rem;
}


/*---Pins---*/
.pins, .savedPins{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pinOpener{
    width: 18%;
    min-width: 280px;
    height: auto;
    margin: var(--middleMargin);
    border-radius: 0.5rem;
    position: relative;
    transition: var(--veryShortTransitionTime);
    flex-grow: 1/5;
    overflow: hidden;
}

.pinOpener:hover{
    transform: scale(1.05);
}

.pinOpener:hover  .pinOpenerImage{
    filter: brightness(0.5);
}

.pinOpener:hover > .savePin, .pinOpener:hover > .removePinFromSaved{
    display: initial;
}

.pinOpener > .savePin, .pinOpener > .removePinFromSaved{
    right: 0;
    position: absolute;
    display: none;
    z-index: 1;
}

.savedPinOpener{
    width: 20%;
}

.savePin, .removePinFromSaved, .openPinEditor{
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    transition: var(--shortTransitionTime);
}

.savePin{
    color: var(--lightColor);
    background-color: var(--highlightColor1);
}

.removePinFromSaved, .openPinEditor{
    color: var(--lightColor);
    background-color: darkslategray;
}

.savePin:hover, .removePinFromSaved:hover, .openPinEditor:hover{
    color: var(--darkColor);
    background-color: var(--lightColor);
}

.pinOpenerImage{
    width: 100%;
}


/*---Pin---*/

.pin{
    color: var(--lightColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pinContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.pinContent > *{
    margin: 2rem;
}

.pinInfoAndComments > .saveOrEditPin {
    margin-bottom: 1rem;
}

.pinTitle{
    font-size: 1.4rem;
}

.pinImage{
    width: 40vw;
    min-width: 280px;
    border-radius: 1rem;
}

.comments{
    width: 20vw;
    min-width: 280px;
    max-height: 40vh;
    overflow-y: auto;
}

.comment{
    margin: 0.2rem;
    padding: 0.2rem;
    white-space: wrap;
    word-wrap: break-word;
    border-bottom: var(--thickLightBorder);
}

.commentCreator{
    margin-top: 1rem;
}

.pinBy{
    margin-top: 1rem;
    display: inline-block;
}


/*---Editor---*/
.pinEditor{
    width: 100%;
}

.pinEditorTitle{
    width: 100%;
    margin-bottom: 0.5rem;
    color: var(--lightColor);
    font-size: 2rem;
    text-align: center;
    display: inline-block;
}

.pinEditorInputs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pinEditorInputs > div{
    margin: 1rem
}

.imageSelect{
    width: 20vw;
    min-width: 300px;
    aspect-ratio: 1/1.5;
    border: var(--thickLightBorder);
    position: relative;
}

.imageSelect.selected{
    width: auto;
    max-width: 30vw;
    aspect-ratio: initial;
    height: max-content;
}

.imageSelectCover{
    width: 100%;
    height: 100%;
    min-width: max-content;
    min-height: max-content;
    color: white;
    background-color: var(--darkHalfTransparentColor);
    position: absolute;
    transition: var(--veryShortTransitionTime);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageSelectCover:hover{
    font-size: 1.5rem;
}

.imageSelect.selected:hover > .imageSelectCover{
    opacity: 0;
}

.imageSelect > input[type='file']{
    display: none;
}

.imageSelect img{
    width: 100%;
}

.pinEditorTextFields{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pinEditorTextFields > *{
    margin: var(--middleMargin);
    border-radius: 0.5rem;
}

.pinEditorTextFields > input{
    height: 2rem;
}

.createPin, .editPin{
    width: 7rem;
    height: 4rem;
    margin: 2rem;
    color: var(--lightColor);
    background-color: var(--highlightColor1);
    border-radius: 2rem;
    font-size: 1.2rem;
    margin-left: 100%;
    float: right;
}

.createPin:hover, .editPin:hover{
    color: var(--darkColor);
    background-color: var(--lightColor);
}


/*---User profile---*/
.userProfile{
    color: var(--lightColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileTopImageContainer{
    height: 5rem;
    overflow: hidden;
    position: relative;
}

.profileTopImage{
    width: 100%;
}

.profileTopImageContainer .fileEditButton{
    margin: var(--middleMargin);
    position: absolute;
    top: 0;
    right: 0;
}

.userProfileImageAndNickname{
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
}

.userProfileImageAndNickname .fileEditButton{
    position: absolute;
    top: 0;
}

.userProfileImageWrapper{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfileImage{
    height: 100%;
}

.userPinsSwitcher > *{
    min-width: 7rem;
    margin: 1rem;
    padding: 0.5rem;
    color: var(--lightColor);
    background-color: var(--highlightColor1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.userPinsSwitcher > *.active{
    color: var(--darkColor);
    background-color: var(--lightColor);
}

.userPinsSwitcher > *:hover{
    color: var(--darkColor);
    background-color: var(--lightColor);
}

.userProfile > .pins, .userProfile > .savedPins{
    width: 80%;
    border: var(--thinLightBorder);
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.savedPin{
    position: relative;
}

.savedPin > .removePinFromSaved{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


/*---Messages modal window---*/
.messageModal{
    min-width: 150px;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--lightColor);
    border: var(--thickDarkBorder);
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    animation-name: fadeIn;
    animation-duration: var(--middleTransitionTime);
    animation-iteration-count: 1;
}

.messageTitle{
    border-bottom: var(--thickDarkBorder);
    border-bottom-color: var(--highlightColor1);
}


/*---Authorization---*/
.authorizationFormWrapper, .confirmationWindowWrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--darkTransparentColor);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    animation-name: fadeIn;
    animation-duration: var(--middleTransitionTime);
    animation-iteration-count: 1;
}

.authorizationForm, .confirmationWindow{
    min-width: 300px;
    aspect-ratio: 1/0.5;
    padding: 1rem;
    padding-top: 0;
    color: var(--lightColor);
    background-color: var(--darkColor);
    border: var(--thinDarkBorder);
    position: relative;
}

.authorizationForm .closeButton{
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

.authorizationFormTitle{
    text-align: center;
}

.authorizationForm form{
    border-top: var(--thickDarkBorder);
    display: flex;
    flex-direction: column;
}

.authorizationForm form > *{
    margin: var(--middleMargin);
}

.authorizationForm form > button{
    align-self: end;
}

.loginForm.hidden, .signUpForm.hidden{
    display: none;
}

.authorizationFormSwitcher{
    color: var(--lightColor);
}

.authorizationFormSwitcher:hover{
    color: var(--highlightColor1);
}

.confirmationWindow{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
}

.confirmationWindowButtons > button{
    margin: 0.5rem;
}

/*---Media queries---*/
@media screen and (max-width: 500px) {
    header > .search{
        display: none;
    }

    #mainPage > .search{
        display: initial;
    }
}

@media screen and (max-width: 360px) {
    /*FIx alignment*/
}


/*---Animations---*/
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}