:root{
    --shortTransitionTime: 0.3s;
    --middleTransitionTime: 0.5s;
    --longTransitionTime: 1s;

    --thinDarkBorder: 1px solid black;
    --thickDarkBorder: 2px solid black;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    border-bottom: var(--thinDarkBorder);
    display: flex;
    justify-content: space-around;
}

header > *{
    margin: 0.5rem;
}

.notificationsWindow, .messagesWindow{
    min-width: 300px;
    min-height: 480px;
    border: var(--thickDarkBorder);
    transition: var(--shortTransitionTime);
    position: absolute;
    right: 1rem;
    display: none;
}

.notificationsWindow.visible, .messagesWindow.visible{
    opacity: 1;
}

.notificationsWindow.hidden, .messagesWindow.hidden{
    opacity: 0;
}